/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* default */
* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Noto Sans KR', sans-serif;
    user-select: none;
}

ul, li{
    list-style: none;
}

.hidden{
    display: none !important;
}

.wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.section{
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    &_bg{
        position: absolute;
        left: 0;
        user-select: none;
        &__dim{
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.2);
        }
        &__video{
            height: 120vh;
        }
    }
    &_wrap{
        position: relative;
        margin-top: 7vh;
        position: relative;
        padding: 20px;
    }
}
