/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* default */
* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 62.5%;
    user-select: none;
}

ul,
li {
    list-style: none;
}

.hidden {
    display: none !important;
}

.wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.section {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    min-height: -webkit-fill-available;

    &__bg {
        position: absolute;
        left: 0;
        user-select: none;

        &_dim {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.2);
        }

        &_video {
            height: 120vh;
        }
    }

    &_wrap {
        position: relative;
        margin-top: 8vh;
        padding: 20px;
    }
    &__main_tit{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-top: 5vh;
        span{
            font-size: 5rem;
            font-weight: 400;
            font-family: 'Dancing Script', sans-serif;
            color: #F1F1F1;
        }
        &_ani{
            opacity: 0;
            animation: mainAni;
            animation-fill-mode: forwards;
            animation-duration: 0.8s;
            &-on:nth-of-type(1){
                animation-delay: 0.2s;
            }
            &-on:nth-of-type(2){
                animation-delay: 0.4s;
            }
            &-on:nth-of-type(3){
                animation-delay: 0.6s;
            }
            &-on:nth-of-type(4){
                animation-delay: 0.8s;
            }
            &-on:nth-of-type(5){
                animation-delay: 1s;
            }
            &-on:nth-of-type(6){
                animation-delay: 1.2s;
            }
            &-on:nth-of-type(7){
                animation-delay: 1.4s;
            }
            &-on:nth-of-type(8){
                animation-delay: 1.6s;
            }
        }
    }
}

@keyframes mainAni{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.loading{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    &__wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: #F1F1F1;
    }
    &__lottie{
        position: relative;
        bottom: 5%;
        width: 30vh;
        height: 30vh;
    }
}