.navi{
    position: fixed;
    z-index: 999;
    width: 100%;
    &_wrap{
        position: relative;
        display: flex;
        align-items: center;
        top:0;
        left: 0;
        padding: 1vh 2vh;
    }
    &_logo{
        position: relative;
        &__img{
            width: 6vh;
            height: 6vh;
            background: url(/images/header/header_logo.png) no-repeat center;
            background-size: 100% auto;
        }
    }
    &_menu-pc{
        position: relative;
        height: 5vh;
        width: 50%;
        margin-left: auto;
    }
    &_menu-mobile{
        position: relative;
        height: 5vh;
        width: 5vh;
        margin-left: auto;
    }
}