.navi {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.navi_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  padding: 1vh 2vh;
}

.navi_logo {
  position: relative;
  cursor: pointer;
}

.navi_logo__img {
  width: 6vh;
  height: 6vh;
  background: url(/images/header/header_logo.png) no-repeat center;
  background-size: 100% auto;
}

.navi_menu-pc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5vh;
  width: 30%;
  margin-left: auto;
}

.navi_menu-pc__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
  height: 5vh;
  cursor: pointer;
}

.navi_menu-pc__btn_txt {
  line-height: 5vh;
  opacity: 1;
  font-weight: 400;
  font-size: 1.6rem;
  color: #F1F1F1;
  font-family: 'Dancing Script', sans-serif;
}

.navi_menu-pc__btn_bd {
  position: absolute;
  top: 0;
  width: 33%;
  height: 5vh;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-color: #F4F4F4;
  opacity: 0;
}

.navi_menu-pc__btn_bd:hover {
  -webkit-animation: pcbtnActive;
          animation: pcbtnActive;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.navi_menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5vh;
  height: 5vh;
  font-weight: 700;
  margin-left: auto;
  border: 2px solid transparent;
  border-color: #F1F1F1;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.navi_menu__btn_active {
  width: 5vh;
  height: 5vh;
  background-color: #F1F1F1;
  border-radius: 30px;
  -webkit-animation: btnActive;
          animation: btnActive;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.navi_menu-mobile {
  position: absolute;
  top: 7vh;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6vh;
  margin-left: auto;
}

.navi_menu-mobile__btn {
  position: absolute;
  top: -5.5vh;
  right: 2vh;
  text-align: center;
  line-height: 5vh;
  width: 5vh;
  height: 5vh;
  background-color: #F1F1F1;
  -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  cursor: pointer;
}

.navi_menu-mobile__btn:nth-of-type(1) {
  -webkit-animation: btnActive1;
          animation: btnActive1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.navi_menu-mobile__btn:nth-of-type(2) {
  -webkit-animation: btnActive2;
          animation: btnActive2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.navi_menu-mobile__btn:nth-of-type(3) {
  -webkit-animation: btnActive3;
          animation: btnActive3;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.navi_menu-mobile__btn:hover {
  background-color: #00c1bc;
  color: #F1F1F1;
}

@-webkit-keyframes pcbtnActive {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pcbtnActive {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes btnActive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes btnActive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes btnActive1 {
  0% {
    right: 2vh;
  }
  100% {
    right: 10vh;
  }
}

@keyframes btnActive1 {
  0% {
    right: 2vh;
  }
  100% {
    right: 10vh;
  }
}

@-webkit-keyframes btnActive2 {
  0% {
    right: 2vh;
    top: -5.5vh;
  }
  100% {
    right: 8vh;
    top: 0.6vh;
  }
}

@keyframes btnActive2 {
  0% {
    right: 2vh;
    top: -5.5vh;
  }
  100% {
    right: 8vh;
    top: 0.6vh;
  }
}

@-webkit-keyframes btnActive3 {
  0% {
    top: -5.5vh;
  }
  100% {
    top: 3vh;
  }
}

@keyframes btnActive3 {
  0% {
    top: -5.5vh;
  }
  100% {
    top: 3vh;
  }
}

@media all and (max-width: 999px) {
  .navi_menu-pc {
    display: none;
  }
}

@media all and (min-width: 1000px) {
  .navi_menu-mobile {
    display: none;
  }
  .navi_menu__btn {
    display: none;
  }
}
/*# sourceMappingURL=navigation.css.map */