@import "./variable.scss";

// section
.section {
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 100vh;
    min-height: -webkit-fill-available;

    &__scroll {
        position: absolute;
        bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        opacity: 0;

        &-on {
            animation: fadeIn;
            animation-fill-mode: forwards;
            animation-duration: 0.8s;
            animation-delay: 4.3s;
        }

        &_lottie {
            width: 6vh;
            height: 6vh;
        }

        &_txt {
            font-family: 'Dancing Script', sans-serif;
            font-size: 2rem;
            font-weight: 400;
            color: $font-color;
        }
    }

    &__tit {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -8vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        font-family: 'Dancing Script', sans-serif;
        font-weight: 400;
        font-size: 5rem;
        color: $font-color;
        opacity: 0;

        &-on {
            animation: fadeIn;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-delay: 3.6s;
        }

        &_sub {
            position: relative;
            top: 10px;
            margin-left: 2vh;
            font-family: 'Dancing Script', sans-serif;
            font-size: 2rem;
        }
    }

    &__bg {
        position: absolute;
        left: 0;
        user-select: none;

        &_dim {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $dim-color;
        }

        &_video {
            height: 120vh;
        }
    }

    &_wrap {
        position: relative;
        margin-top: 8vh;
        padding: 20px;
    }

    &__main_tit {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-top: 5vh;

        span {
            font-size: 5rem;
            font-weight: 400;
            font-family: 'Dancing Script', sans-serif;
            color: $font-color;
        }

        &_ani {
            opacity: 0;
            animation: fadeIn, fadeOut;
            animation-fill-mode: forwards;
            animation-duration: 0.8s;

            &-on {
                &:nth-of-type(1) {
                    animation-delay: 0.2s, 3.5s;
                }

                &:nth-of-type(2) {
                    animation-delay: 0.4s, 3.5s;
                }

                &:nth-of-type(3) {
                    animation-delay: 0.6s, 3.5s;
                }

                &:nth-of-type(4) {
                    animation-delay: 0.8s, 3.5s;
                }

                &:nth-of-type(5) {
                    animation-delay: 1s, 3.5s;
                }

                &:nth-of-type(6) {
                    animation-delay: 1.2s, 3.5s;
                }

                &:nth-of-type(7) {
                    animation-delay: 1.4s, 3.5s;
                }

                &:nth-of-type(8) {
                    animation-delay: 1.6s, 3.5s;
                }
            }
        }
    }

    &__sub_tit {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 3vh;
        font-size: 1.8rem;
        font-weight: 100;
        color: $font-color;
        opacity: 0;

        &-on {
            animation: fadeIn, fadeOut;
            animation-fill-mode: forwards;
            animation-duration: 0.8s;
            animation-delay: 1.8s, 3.5s;
        }

        &_bar {
            width: 1vh;
            height: 3vh;
            margin-right: 1vh;
            background: $font-color;
        }
    }

    &__wave {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: $primary-color;

        &_content {
            position: absolute;
            top: 0;
            width: 150vh;
            height: 150vh;
            border-radius: 43%;
            background-color: $font-color;
            animation-name: rotateAni;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 10s;

            &:nth-of-type(1) {
                top: -55vh;
                opacity: 0.4;
                animation-duration: 11s;
            }

            &:nth-of-type(2) {
                top: -60vh;
                opacity: 0.4;
                animation-duration: 14s;
            }

            &:nth-of-type(3) {
                top: -64vh;
                opacity: 0.4;
                animation-duration: 13s;
            }

            &:nth-of-type(4) {
                top: -67vh;
                opacity: 0.4;
                animation-duration: 12s;
            }

            &:nth-of-type(5) {
                top: -69vh;
                opacity: 1;
                animation-duration: 16s;
            }
        }
    }

    &__deep {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 300vh;
        background: linear-gradient(180deg, $primary-color 10%, $accent-color 90%);

        &-on {
            animation-name: deepDown;
            animation-fill-mode: forwards;
            animation-duration: 3s;
        }
    }
}

// mobile-width
@media all and (max-height:460px) {
    .section__bg_video {
        height: auto;
        width: 100vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotateAni {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes deepDown {
    0% {
        top: 0;
    }

    100% {
        top: -200vh
    }
}


// pc-wave
@media all and (min-width:360px) and (max-width:560px) {
    .section__wave_content:nth-of-type(1){
        top: -75vh;
        width: 170vh;
        height: 170vh;
    }
    .section__wave_content:nth-of-type(2){
        top: -80vh;
        width: 170vh;
        height: 170vh;
    }
    .section__wave_content:nth-of-type(3){
        top: -84vh;
        width: 170vh;
        height: 170vh;
    }
    .section__wave_content:nth-of-type(4){
        top: -87vh;
        width: 170vh;
        height: 170vh;
    }
    .section__wave_content:nth-of-type(5){
        top: -89vh;
        width: 170vh;
        height: 170vh;
    }
}

@media all and (min-width:560px) and (max-width:760px) {
    .section__wave_content:nth-of-type(1){
        top: -95vh;
        width: 190vh;
        height: 190vh;
    }
    .section__wave_content:nth-of-type(2){
        top: -100vh;
        width: 190vh;
        height: 190vh;
    }
    .section__wave_content:nth-of-type(3){
        top: -104vh;
        width: 190vh;
        height: 190vh;
    }
    .section__wave_content:nth-of-type(4){
        top: -107vh;
        width: 190vh;
        height: 190vh;
    }
    .section__wave_content:nth-of-type(5){
        top: -109vh;
        width: 190vh;
        height: 190vh;
    }
}

@media all and (min-width:760px) and (max-width:960px) {
    .section__wave_content:nth-of-type(1){
        top: -115vh;
        width: 210vh;
        height: 210vh;
    }
    .section__wave_content:nth-of-type(2){
        top: -120vh;
        width: 210vh;
        height: 210vh;
    }
    .section__wave_content:nth-of-type(3){
        top: -124vh;
        width: 210vh;
        height: 210vh;
    }
    .section__wave_content:nth-of-type(4){
        top: -127vh;
        width: 210vh;
        height: 210vh;
    }
    .section__wave_content:nth-of-type(5){
        top: -129vh;
        width: 210vh;
        height: 210vh;
    }
}

@media all and (min-width:960px) and (max-width:1160px) {
    .section__wave_content:nth-of-type(1){
        top: -135vh;
        width: 230vh;
        height: 230vh;
    }
    .section__wave_content:nth-of-type(2){
        top: -140vh;
        width: 230vh;
        height: 230vh;
    }
    .section__wave_content:nth-of-type(3){
        top: -144vh;
        width: 230vh;
        height: 230vh;
    }
    .section__wave_content:nth-of-type(4){
        top: -147vh;
        width: 230vh;
        height: 230vh;
    }
    .section__wave_content:nth-of-type(5){
        top: -149vh;
        width: 230vh;
        height: 230vh;
    }
}

@media all and (min-width:1160px) and (max-width:1360px) {
    .section__wave_content:nth-of-type(1){
        top: -155vh;
        width: 250vh;
        height: 250vh;
    }
    .section__wave_content:nth-of-type(2){
        top: -160vh;
        width: 250vh;
        height: 250vh;
    }
    .section__wave_content:nth-of-type(3){
        top: -164vh;
        width: 250vh;
        height: 250vh;
    }
    .section__wave_content:nth-of-type(4){
        top: -167vh;
        width: 250vh;
        height: 250vh;
    }
    .section__wave_content:nth-of-type(5){
        top: -169vh;
        width: 250vh;
        height: 250vh;
    }
}

@media all and (min-width:1360px) and (max-width:1560px) {
    .section__wave_content:nth-of-type(1){
        top: -175vh;
        width: 270vh;
        height: 270vh;
    }
    .section__wave_content:nth-of-type(2){
        top: -180vh;
        width: 270vh;
        height: 270vh;
    }
    .section__wave_content:nth-of-type(3){
        top: -184vh;
        width: 270vh;
        height: 270vh;
    }
    .section__wave_content:nth-of-type(4){
        top: -187vh;
        width: 270vh;
        height: 270vh;
    }
    .section__wave_content:nth-of-type(5){
        top: -189vh;
        width: 270vh;
        height: 270vh;
    }
}

@media all and (min-width:1560px) and (max-width:1760px) {
    .section__wave_content:nth-of-type(1){
        top: -195vh;
        width: 290vh;
        height: 290vh;
    }
    .section__wave_content:nth-of-type(2){
        top: -200vh;
        width: 290vh;
        height: 290vh;
    }
    .section__wave_content:nth-of-type(3){
        top: -204vh;
        width: 290vh;
        height: 290vh;
    }
    .section__wave_content:nth-of-type(4){
        top: -207vh;
        width: 290vh;
        height: 290vh;
    }
    .section__wave_content:nth-of-type(5){
        top: -209vh;
        width: 290vh;
        height: 290vh;
    }
}

@media all and (min-width:1760px) {
    .section__wave_content:nth-of-type(1){
        top: -215vh;
        width: 310vh;
        height: 310vh;
    }
    .section__wave_content:nth-of-type(2){
        top: -220vh;
        width: 310vh;
        height: 310vh;
    }
    .section__wave_content:nth-of-type(3){
        top: -224vh;
        width: 310vh;
        height: 310vh;
    }
    .section__wave_content:nth-of-type(4){
        top: -227vh;
        width: 310vh;
        height: 310vh;
    }
    .section__wave_content:nth-of-type(5){
        top: -229vh;
        width: 310vh;
        height: 310vh;
    }
}