.section {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.section__scroll {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  opacity: 0;
}

.section__scroll-on {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}

.section__scroll_lottie {
  width: 6vh;
  height: 6vh;
}

.section__scroll_txt {
  font-family: 'Dancing Script', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #F1F1F1;
}

.section__tit {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -8vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Dancing Script', sans-serif;
  font-weight: 400;
  font-size: 5rem;
  color: #F1F1F1;
  opacity: 0;
}

.section__tit-on {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.section__tit_sub {
  position: relative;
  top: 10px;
  margin-left: 2vh;
  font-family: 'Dancing Script', sans-serif;
  font-size: 2rem;
}

.section__bg {
  position: absolute;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section__bg_dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.section__bg_video {
  height: 120vh;
}

.section_wrap {
  position: relative;
  margin-top: 8vh;
  padding: 20px;
}

.section__main_tit {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 5vh;
}

.section__main_tit span {
  font-size: 5rem;
  font-weight: 400;
  font-family: 'Dancing Script', sans-serif;
  color: #F1F1F1;
}

.section__main_tit_ani {
  opacity: 0;
  -webkit-animation: fadeIn, fadeOut;
          animation: fadeIn, fadeOut;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.section__main_tit_ani-on:nth-of-type(1) {
  -webkit-animation-delay: 0.2s, 3.5s;
          animation-delay: 0.2s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(2) {
  -webkit-animation-delay: 0.4s, 3.5s;
          animation-delay: 0.4s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(3) {
  -webkit-animation-delay: 0.6s, 3.5s;
          animation-delay: 0.6s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(4) {
  -webkit-animation-delay: 0.8s, 3.5s;
          animation-delay: 0.8s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(5) {
  -webkit-animation-delay: 1s, 3.5s;
          animation-delay: 1s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(6) {
  -webkit-animation-delay: 1.2s, 3.5s;
          animation-delay: 1.2s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(7) {
  -webkit-animation-delay: 1.4s, 3.5s;
          animation-delay: 1.4s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(8) {
  -webkit-animation-delay: 1.6s, 3.5s;
          animation-delay: 1.6s, 3.5s;
}

.section__sub_tit {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-top: 3vh;
  font-size: 1.8rem;
  font-weight: 100;
  color: #F1F1F1;
  opacity: 0;
}

.section__sub_tit-on {
  -webkit-animation: fadeIn, fadeOut;
          animation: fadeIn, fadeOut;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 1.8s, 3.5s;
          animation-delay: 1.8s, 3.5s;
}

.section__sub_tit_bar {
  width: 1vh;
  height: 3vh;
  margin-right: 1vh;
  background: #F1F1F1;
}

@media all and (max-height: 460px) {
  .section__bg_video {
    height: auto;
    width: 100vw;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=section.css.map */