.section {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.section__scroll {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  opacity: 0;
}

.section__scroll-on {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}

.section__scroll_lottie {
  width: 6vh;
  height: 6vh;
}

.section__scroll_txt {
  font-family: 'Dancing Script', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #F1F1F1;
}

.section__tit {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -8vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Dancing Script', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #F1F1F1;
  opacity: 0;
}

.section__tit-on {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.section__tit_sub {
  position: relative;
  top: 10px;
  margin-left: 2vh;
  font-family: 'Dancing Script', sans-serif;
  font-size: 1rem;
}

.section__bg {
  position: absolute;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section__bg_dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.section__bg_video {
  height: 120vh;
}

.section_wrap {
  position: relative;
  width: 100%;
  margin-top: 8vh;
  padding: 20px;
}

.section_wrap-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__prf {
  position: relative;
  width: 30vh;
  height: 30vh;
  margin-bottom: auto;
  border-radius: 50%;
  background-color: #F1F1F1;
  -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.section__prf_dim {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.section__prf_img {
  width: 100%;
  height: 100%;
  background: url(../images/section2/prf_ex.jpg) no-repeat center;
  background-size: 200%;
}

.section__main_tit {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 5vh;
}

.section__main_tit span {
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Dancing Script', sans-serif;
  color: #F1F1F1;
}

.section__main_tit_ani {
  opacity: 0;
  -webkit-animation: fadeIn, fadeOut;
          animation: fadeIn, fadeOut;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.section__main_tit_ani-on:nth-of-type(1) {
  -webkit-animation-delay: 0.2s, 3.5s;
          animation-delay: 0.2s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(2) {
  -webkit-animation-delay: 0.4s, 3.5s;
          animation-delay: 0.4s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(3) {
  -webkit-animation-delay: 0.6s, 3.5s;
          animation-delay: 0.6s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(4) {
  -webkit-animation-delay: 0.8s, 3.5s;
          animation-delay: 0.8s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(5) {
  -webkit-animation-delay: 1s, 3.5s;
          animation-delay: 1s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(6) {
  -webkit-animation-delay: 1.2s, 3.5s;
          animation-delay: 1.2s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(7) {
  -webkit-animation-delay: 1.4s, 3.5s;
          animation-delay: 1.4s, 3.5s;
}

.section__main_tit_ani-on:nth-of-type(8) {
  -webkit-animation-delay: 1.6s, 3.5s;
          animation-delay: 1.6s, 3.5s;
}

.section__sub_tit {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-top: 3vh;
  font-size: 1rem;
  font-weight: 100;
  color: #F1F1F1;
  opacity: 0;
}

.section__sub_tit-on {
  -webkit-animation: fadeIn, fadeOut;
          animation: fadeIn, fadeOut;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 1.8s, 3.5s;
          animation-delay: 1.8s, 3.5s;
}

.section__sub_tit_bar {
  width: 1vh;
  height: 3vh;
  margin-right: 1vh;
  background: #F1F1F1;
}

.section__wave {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #44d7be;
}

.section__wave_content {
  position: absolute;
  top: 0;
  width: 150vh;
  height: 150vh;
  border-radius: 43%;
  background-color: #F1F1F1;
  -webkit-animation-name: rotateAni;
          animation-name: rotateAni;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.section__wave_content:nth-of-type(1) {
  top: -55vh;
  opacity: 0.4;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.section__wave_content:nth-of-type(2) {
  top: -60vh;
  opacity: 0.4;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.section__wave_content:nth-of-type(3) {
  top: -64vh;
  opacity: 0.4;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}

.section__wave_content:nth-of-type(4) {
  top: -67vh;
  opacity: 0.4;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

.section__wave_content:nth-of-type(5) {
  top: -69vh;
  opacity: 1;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.section__deep {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 300vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #44d7be), color-stop(90%, #2b8374));
  background: linear-gradient(180deg, #44d7be 10%, #2b8374 90%);
}

.section__deep-on {
  -webkit-animation-name: deepDown;
          animation-name: deepDown;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@media all and (max-height: 460px) {
  .section__bg_video {
    height: auto;
    width: 100vw;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotateAni {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateAni {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes deepDown {
  0% {
    top: 0;
  }
  100% {
    top: -200vh;
  }
}

@keyframes deepDown {
  0% {
    top: 0;
  }
  100% {
    top: -200vh;
  }
}

@media all and (min-width: 360px) and (max-width: 560px) {
  .section__wave__cotent {
    width: 170vh;
    height: 170vh;
  }
  .section__wave__cotent:nth-of-type(1) {
    top: -75vh;
  }
  .section__wave__cotent:nth-of-type(2) {
    top: -80vh;
  }
  .section__wave__cotent:nth-of-type(3) {
    top: -84vh;
  }
  .section__wave__cotent:nth-of-type(4) {
    top: -87vh;
  }
  .section__wave__cotent:nth-of-type(5) {
    top: -89vh;
  }
}

@media all and (min-width: 560px) and (max-width: 760px) {
  .section__wave__cotent {
    width: 190vh;
    height: 190vh;
  }
  .section__wave__cotent:nth-of-type(1) {
    top: -95vh;
  }
  .section__wave__cotent:nth-of-type(2) {
    top: -100vh;
  }
  .section__wave__cotent:nth-of-type(3) {
    top: -104vh;
  }
  .section__wave__cotent:nth-of-type(4) {
    top: -107vh;
  }
  .section__wave__cotent:nth-of-type(5) {
    top: -109vh;
  }
}

@media all and (min-width: 760px) and (max-width: 960px) {
  .section__wave__cotent {
    width: 210vh;
    height: 210vh;
  }
  .section__wave__cotent:nth-of-type(1) {
    top: -115vh;
  }
  .section__wave__cotent:nth-of-type(2) {
    top: -120vh;
  }
  .section__wave__cotent:nth-of-type(3) {
    top: -124vh;
  }
  .section__wave__cotent:nth-of-type(4) {
    top: -127vh;
  }
  .section__wave__cotent:nth-of-type(5) {
    top: -129vh;
  }
}

@media all and (min-width: 960px) and (max-width: 1160px) {
  .section__wave__cotent {
    width: 230vh;
    height: 230vh;
  }
  .section__wave__cotent:nth-of-type(1) {
    top: -135vh;
  }
  .section__wave__cotent:nth-of-type(2) {
    top: -140vh;
  }
  .section__wave__cotent:nth-of-type(3) {
    top: -144vh;
  }
  .section__wave__cotent:nth-of-type(4) {
    top: -147vh;
  }
  .section__wave__cotent:nth-of-type(5) {
    top: -149vh;
  }
}

@media all and (min-width: 1160px) and (max-width: 1360px) {
  .section__wave__cotent {
    width: 250vh;
    height: 250vh;
  }
  .section__wave__cotent:nth-of-type(1) {
    top: -155vh;
  }
  .section__wave__cotent:nth-of-type(2) {
    top: -160vh;
  }
  .section__wave__cotent:nth-of-type(3) {
    top: -164vh;
  }
  .section__wave__cotent:nth-of-type(4) {
    top: -167vh;
  }
  .section__wave__cotent:nth-of-type(5) {
    top: -169vh;
  }
}

@media all and (min-width: 1360px) and (max-width: 1560px) {
  .section__wave__cotent {
    width: 270vh;
    height: 270vh;
  }
  .section__wave__cotent:nth-of-type(1) {
    top: -175vh;
  }
  .section__wave__cotent:nth-of-type(2) {
    top: -180vh;
  }
  .section__wave__cotent:nth-of-type(3) {
    top: -184vh;
  }
  .section__wave__cotent:nth-of-type(4) {
    top: -187vh;
  }
  .section__wave__cotent:nth-of-type(5) {
    top: -189vh;
  }
}

@media all and (min-width: 1560px) and (max-width: 1760px) {
  .section__wave__cotent {
    width: 290vh;
    height: 290vh;
  }
  .section__wave__cotent:nth-of-type(1) {
    top: -195vh;
  }
  .section__wave__cotent:nth-of-type(2) {
    top: -200vh;
  }
  .section__wave__cotent:nth-of-type(3) {
    top: -204vh;
  }
  .section__wave__cotent:nth-of-type(4) {
    top: -207vh;
  }
  .section__wave__cotent:nth-of-type(5) {
    top: -209vh;
  }
}

@media all and (min-width: 1760px) {
  .section__wave__cotent {
    width: 310vh;
    height: 310vh;
  }
  .section__wave__cotent:nth-of-type(1) {
    top: -215vh;
  }
  .section__wave__cotent:nth-of-type(2) {
    top: -220vh;
  }
  .section__wave__cotent:nth-of-type(3) {
    top: -224vh;
  }
  .section__wave__cotent:nth-of-type(4) {
    top: -227vh;
  }
  .section__wave__cotent:nth-of-type(5) {
    top: -229vh;
  }
}
/*# sourceMappingURL=section.css.map */