.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 0.5vh;
  height: 0.5vh;
  border-radius: 30px;
  background: #F1F1F1;
  opacity: 0.7;
}

.swiper-pagination .swiper-pagination-bullet-2 {
  background: #44d7be;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 0.5vh;
  height: 0.5vh;
  -webkit-animation: swiperActive;
          animation: swiperActive;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  background: #F1F1F1;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-2 {
  background: #44d7be;
}

.section__wrap-swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__swiper {
  position: absolute;
  width: 40vh;
  height: 100%;
}

.section__swiper_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__swiper_slide {
  position: relative;
  width: 40vh;
  height: 60vh;
  opacity: 0.6;
  background-color: #F1F1F1;
  border-radius: 30px;
  overflow: hidden;
}

.section__swiper_slide.swiper-slide-active {
  -webkit-animation-name: swiperActive2;
          animation-name: swiperActive2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.section__swiper_slide.swiper-slide-active .section__swiper_slide_img_wrap {
  -webkit-animation-name: sectionImgwrap;
          animation-name: sectionImgwrap;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.section__swiper_slide.swiper-slide-active .section__swiper_slide_img_wrap .section__swiper_slide_img {
  -webkit-animation-name: sectionImg;
          animation-name: sectionImg;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.section__swiper_slide.swiper-slide-active .section__swiper_slide_content {
  -webkit-animation-name: sectionContent;
          animation-name: sectionContent;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.section__swiper_slide_img_wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.section__swiper_slide_img {
  width: 200%;
  height: 100%;
  overflow: hidden;
}

.section__swiper_slide_content {
  position: relative;
  width: 100%;
  height: 50%;
  padding: 20px;
  background-color: #F1F1F1;
  border-radius: 0 0 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
}

.section__swiper_slide_badge_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section__swiper_slide_badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid transparent;
  border-color: #44d7be;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: #44d7be;
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
}

.section__swiper_slide_tit {
  width: 100%;
  margin-top: 15px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
}

.section__swiper_slide_txt {
  width: 100%;
  margin-top: 15px;
  font-size: 18px;
  white-space: wrap;
  text-overflow: ellipsis;
  line-height: 20px;
}

@-webkit-keyframes swiperActive {
  0% {
    width: 0.5vh;
    height: 0.5vh;
  }
  100% {
    width: 0.5vh;
    height: 50vh;
  }
}

@keyframes swiperActive {
  0% {
    width: 0.5vh;
    height: 0.5vh;
  }
  100% {
    width: 0.5vh;
    height: 50vh;
  }
}

@-webkit-keyframes swiperActive2 {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swiperActive2 {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes sectionContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sectionContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes sectionImgwrap {
  0% {
    height: 100%;
  }
  100% {
    height: 50%;
  }
}

@keyframes sectionImgwrap {
  0% {
    height: 100%;
  }
  100% {
    height: 50%;
  }
}

@-webkit-keyframes sectionImg {
  0% {
    width: 200%;
  }
  100% {
    width: 100%;
  }
}

@keyframes sectionImg {
  0% {
    width: 200%;
  }
  100% {
    width: 100%;
  }
}
/*# sourceMappingURL=swiper.css.map */