@import "./variable.scss";

// swiper
.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 0.5vh;
    height: 0.5vh;
    border-radius: 30px;
    background: $font-color;
    opacity: 0.7;
    &-2{
        background: $primary-color;
    }
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 0.5vh;
    height: 0.5vh;
    animation: swiperActive;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    background: $font-color;
    opacity: 1;
    &-2{
        background: $primary-color;
    }
}

.section{
    &__wrap-swiper{
        margin-left: auto;
    }
    position: relative;
    &__swiper{
        position: relative;
        justify-content: center;
        display: flex;
        width: 30vw;
        height: 100%;
        &_wrap{
            position: relative;
            display: flex;
            align-items: center;
        }
        &_slide{
            position: relative;
            width: 40vh;
            height: 50vh;
            background: $font-color;
            opacity: 0.6;
            border-radius: 30px;
            &.swiper-slide-active{
                animation-name: swiperActive2;
                animation-fill-mode: forwards;
                animation-duration: 0.3s;
                animation-timing-function: ease-in;
            }
        }
        &_pagination{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0;
            width: 100%;
        }
    }
}

// swiper animation
@keyframes swiperActive {
    0% {
        width: 0.5vh;
        height: 0.5vh;
    }

    100% {
        width: 0.5vh;
        height: 50vh;
    }
}

@keyframes swiperActive2 {
    0% {
        width: 40vh;
        height: 50vh;
        opacity: 0.6;
    }
    100% {
        width: 40vh;
        height: 60vh;
        opacity: 1;
    }
}