// swiper
.swiper{
    width: 100%;
    height: 100vh;
}
.swiper-pagination .swiper-pagination-bullet{
    width: 1vh;
    height: 1vh;
    margin: 20px 0;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.7);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 1vh;
    height: 1vh;
    animation: swiperActive;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    background: rgba(255, 255, 255, 1);
}

// swiper animation
@keyframes swiperActive {
    0%{
        width: 1vh;
        height: 1vh;
    }
    100%{
        width: 1vh;
        height: 50vh;
    }
}